/* -------- POLICE -------- */
@font-face{
    font-family: "Raleway-Extra-Light";
    src: url('Raleway-ExtraLight.ttf');
}
@font-face{
    font-family: "Raleway-Medium";
    src: url('Raleway-Medium.ttf');
}
@font-face{
    font-family: "Raleway-Semi-Bold";
    src: url('Raleway-SemiBold.ttf');
}
@font-face{
    font-family: "Raleway-Bold";
    src: url('Raleway-Bold.ttf');
}
h2, button, .vieux_text p, .menu_rent, .menu_activity, .menu_login{
    font-family: Raleway-Semi-Bold;
}
h3, .info_text p, .vieux_text p span, li{
    font-family: Raleway-Extra-Light;
}
{
    font-family: Raleway-Medium;
}
.filter_all, h4, h5{
    font-family: Raleway-Bold;
}

/* -------- FIN POLICE -------- */

header{ /*HEADER*/
    display: flex;
    justify-content: space-between;
}
.menu_rent{
    border-top: 2px solid #0065FC;
    padding-top: 48px;
    padding-left: 22px;
    padding-right: 22px;
}
.menu_rent, .menu_login{
    color: #0065FC;
}
.menu_activity{
    color: black;
}
.menu_rent, .menu_login, .menu_activity{
    margin-bottom: 50px;
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 22px;
    padding-right: 22px;
}
a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}
body{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
header, .intro, .finder, .filter, .renting{
    margin-left: 50px;
}
.reservia_logo{
    width: 30%
}

ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

footer{
    display: flex;
    justify-content: space-between;
}
.logo_marker{
    width: 51px;
    height: 49px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px solid rgb(208, 208, 208);
    background-color: rgb(208, 208, 208);
    display: flex;
    align-items: center;
    justify-content: center;
}
.research{
    height: 51px;
    width: 234px;
    border: 1px solid rgb(208, 208, 208);
    font-family: Raleway-Semi-Bold;
}
::placeholder{
    color: black;
}
.button{
    height: 51px;
    width: 134px;
    background-color: #0065FC;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid rgb(208, 208, 208);
    color: white;
}
.border_finder{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.filter_all{
    display: flex;
    margin-top: 30px;
    margin-bottom: 35px;
}
.filter_text{
    margin-left: 13px;
    color: black;
}
.button{
    
}
.logo, .fill-up{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 238px;
    height: 46px;
    margin-left: 23px;
}
.fill-up{
    border-bottom-width: 0px;
    border-right-width: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    border-top-width: 0px;
    margin-left: 0px;
    border: 2px solid rgb(208, 208, 208);
    border-left-width: 0px;
    border-radius: 30px;
    background-color: white;
}
.fill-up, .logo{
    transition: 0.5s;
}
.fill-up:hover:before{
    transform: translateX(-100%)
}
.fill-up:hover{
    transform: scale(0.8);
    font-size: 1.1;
    transition: 1s;
}
.logo_border{
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.logo_border i{
    color: #0065FC;
}
.info{
    display: flex;
    width: 450px;
    height: 24px;
    margin-bottom: 37px;
}
.info_circle{
    width: 24px;
    height: 24px;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #0065FC;
    margin-right: 12px;
}
.info_text p{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}
.hebergement{
    width: 880px;
    height: 625px;
    margin-right: 40px;
}
.populaire{
    width: 420px;
    height: 625px;
}
.renting_pict{
    box-shadow: 0px 1px 6px 0px #dadada;
    border-radius: 30px;
    width: 245px;
    height: 200;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
}
.cannebiere, .port, .mouettes, .mer, .panier, .amina{
    width: 236px;
    height: 114px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-left: 5px;
    padding-top: 5px;
}
.star{
    color: #0065FC;
}
.renting_pict.can, .renting_pict.hotelmer{
    margin-left: 40px;
}
.renting{
    display: flex;
}
.curve_all{
    display: flex;
    justify-content: space-between;
}
.curve_pict{
    width: 343px;
    height: 145px;
    margin-bottom: 33px;
    margin-left: 37px;
    margin-right: 40px;
    display: flex;
}
.column{
    flex-direction: column;
    margin-top: 0px;
}
.bleu, .matin, .eau{
    width: 127px;
    height: 134px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-top: 5px;
    padding-left: 5px;
    margin-right: 21px;
    
}
.vieux_port, .pomegues, .calanques, .longchamp, .notre_dame, .frioul{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.vieux_port, .calanques{
    width: 300px;
    height: 390px;
}
.pomegues{
    width: 300px;
    height: 180px;
}
.frioul{
    width: 300px;
    height: 110px;
}
.notre_dame{
    width: 300px;
    height: 140px;
}
.longchamp{
    width: 300px;
    height: 150px;
}
.hebergement, .populaire{
    background-color: #F2F2F2;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
footer{
    background-color: #F2F2F2;
}
.activity_all{
    display: flex;
}
.renting_all{
    display: flex;
}
.activity_pict, .curve_pict, .activity__pict{
    box-shadow: 0px 1px 6px 0px #dadada;
    border-radius: 30px;
    width: 300px;
}
.activity_pict{
    margin-left: 20px;
    margin-right: 20px;
}
.activity_pict.pom{
    margin-bottom: 40px;
    height: 235px;
}
.activity_pict.fri{
    height: 165px;
}
.activity_pict.notre{
    height: 195px;
    margin-bottom: 40px;
}
.activity_pict.long{
    height: 209px;
}
.activity{
    margin-bottom: 60px;
    margin-left: 30px;
}
h4{
    margin-left: 40px;
}
.populaire .vieux_text{
    width: 127px;
}
.vieux_text{
    padding-left: 15px;
    color: black;
}
.vieux_text p{
    margin-bottom: 0px;
}
.star_text{
    display: flex;
}
.about, .quality{
    margin-left: 40px;
    margin-right: 40px;
}
.help{
    margin-right: 350px;
}
.activity_column{
    flex-direction: column;
}